<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/_head', { pageTitle: pageTitle }) %>
</head>
<body>
    <div class="layout">
        <%- include('partials/_sidebar', { activeMenu: activeMenu }) %>
        <div class="main-content">
            <%- include('partials/_navbar', { user: user }) %>
            
        </div>
    </div>
    <%- include('partials/_scripts') %>
</body>
</html>